{% extends 'pages/base.html' %}

{% block content %}
<br> <br>
<div class="row mb3">
    <div class="col-md-4 mx-auto col-10 py-3">
        <form id = 'tin-create-form' action="/create/" class="form" method="POST">
            {% csrf_token %}
            <input type="hidden" value='/' name = "next" />
            <textarea name="content" class="form-control"  placeholder="EBTinz!"></textarea> <br>
            <button class="btn btn-primary">Tinz It</button>
        </form>

    </div>
    </div>

<div class="row text-center">
    <div class="col">
        <h1>Latest Tinz</h1>
    </div>
</div>


    <div class="row" id="tins">
loading...   
</div>


<script>
    function tinCreateFormDidSubmit(event) {
  event.preventDefault()
  const myForm = event.target
  const myFormData = new FormData(myForm)
  const url = myForm.getAttribute("action")
  const method = myForm.getAttribute("method")
  const xhr = new XMLHttpRequest()
  const responseType = "json"
  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
  xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
  xhr.onload = function() {

    if (xhr.status === 201) {
      const newTin = xhr.response
      const newTinElement = formatTinElement(newTin)
      const ogHtml = tinzContainerElement.innerHTML
      tinzContainerElement.innerHTML = newTinElement + ogHtml
      myForm.reset()

      
    }  else if (xhr.status === 400){
        const errorJson = xhr.response
        console.log(errorJson)
    }
    xhr.onerror = function(){
        alert("An error occured. Please try again")
    }
  } 
  xhr.send(myFormData) 
}
const tinCreateFormEl = document.getElementById("tin-create-form")
tinCreateFormEl.addEventListener("submit", tinCreateFormDidSubmit)

const tinzContainerElement = document.getElementById("tins")


function loadTinz(tinzElement) {
  const xhr = new XMLHttpRequest()
  const method = 'GET' // 'POST'
  const url = "/tins"
  const responseType = "json"
  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function() {
    const serverResponse = xhr.response
    const listedItems = serverResponse.response
    var finaltinsStr = "";
    var i;
    for (i = 0; i < listedItems.length; i++) {
      var tinObj = listedItems[i]
      var currentItem = formatTinElement(tinObj);
      finaltinsStr += currentItem
    }
    tinzElement.innerHTML = finaltinsStr;
  }
  xhr.send()

}

loadTinz(tinzContainerElement)


function handleDidLike(tin_id, currentCount) {

  console.log(tin_id, currentCount)
  return
}

function LikeBtn(tin) {
  return "<button class='btn btn-primary btn-sm' onclick = handleDidLike(" + tin.id + " , " + tin.likes + ")>" + tin.likes + " Likes</button>"
}

function formatTinElement(tin) {
  var formattedTin = "<div class = 'col-12 col-md-10 mx-auto  border rounded py-3' id = 'tin-'><p>" + tin.content + "</p><div class = 'btn-group'>" + LikeBtn(tin) + "</div></div>" + "<br>"
  return formattedTin
}


</script>

{% endblock content %}
  